@use '../../abstracts' as *;

.wp-admin #project-board,
.wp-admin #project-board-controls,
.alpaca-project-board {
  @include alpaca-board-default-tokens;

  & > * {
    clear: both;
  }

  .alpaca-wrap {
    display: flex;
  }

  .alpaca-item.is-filtered-out {
    display: none; // because there is a really weird bug arising when I use opacity
    pointer-events: none;
  }
}

.alpaca-project-board[data-alpaca-appearance='light'],
.alpaca-frontend-filter-control-popover--light,
.alpaca-frontend-column-menu--light {
  @include alpaca-board-light-tokens;
}

.alpaca-project-board[data-alpaca-appearance='dark'],
.alpaca-frontend-filter-control-popover--dark,
.alpaca-frontend-column-menu--dark {
  @include alpaca-board-dark-tokens;
}

@supports (color: light-dark(black, white)) {
  .alpaca-project-board[data-alpaca-appearance='auto'],
  .alpaca-frontend-filter-control-popover--auto,
  .alpaca-frontend-column-menu--auto {
    @include alpaca-board-auto-tokens;
  }
}
