@use '../abstracts' as *;

/*
 * 5.5 - Empty State
 */
.alpaca-empty-state {
  margin: $space-6xl auto;
  max-width: $width-content-md;

  .components-notice {
    margin-bottom: $space-2xl;

    p {
      margin: $space-sm 0;
    }

    strong {
      font-size: $font-size-lg;
    }

    .components-button {
      margin-top: $space-2xl;
    }
  }
}
