/*
* Header & Meta
*/
.wp-admin {
    .alpaca-issue-meta {
        color: $greytext;
        font-size: $smallfont;
        line-height: 3em;
        flex-direction: row;
        gap: $spacegap;

        .alpaca-user-name {
            font-weight: 600;
        }
    }
}