@use '../../abstracts' as *;

/*
* Header & Meta
*/
.wp-admin {
  .alpaca-issue-meta {
    color: $color-text-muted;
    font-size: $font-size-sm;
    line-height: $line-height-base;
    flex-direction: row;
    gap: $space-gap-inline;

    .alpaca-user-name {
      font-weight: $font-weight-semibold;
    }
  }
}
