@use '../abstracts' as *;

/*
 * Dashboard Widget
 */
#alpaca-dashboard-widget {
  margin-top: -6px;

  a {
    text-decoration: none;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;

    tr {
      &:first-child {
        th {
          border-bottom: 1px solid $greyborder;
        }
      }

      &:nth-child(even) {
        background-color: $container-bg;
      }
    }

    th,
    td {
      padding: 8px 5px;
      vertical-align: top;
      text-align: center;
      white-space: nowrap;

      &:first-child {
        text-align: left;
      }
    }

    th {
      font-size: 13px;
      font-weight: bold;
    }

    td {
      width: 18%;

      &.title {
        white-space: unset;
        width: auto;
      }

      &.high-priority {
        width: 16px;
        color: $priority-high-bg;
      }
    }
  }

  .assignees {
    .alpaca-item-assignees {
      @include alpaca-assignee-stack(18px, 0, 0, false, 0.8rem, 0.25rem);
    }
  }
}
