/* styles go here */

.alpaca-modal {
  background: white;
  color: black;
  small {
    font-size: 12px;
  }
  p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .alpaca-grid {
    margin-bottom: 1.6rem;
    .components-base-control__field,
    .alpaca-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }

  .alpaca-actions {
    display: flex;
    align-items: center;
  }

  button {
    margin-right: 0.5rem;
  }
}

@media (min-width: 825px) {
  .alpaca-modal {
    .alpaca-grid {
      .components-base-control__label,
      .alpaca-label {
        flex-basis: 25%;
        padding-top: 8px;
      }
      .components-text-control__input,
      .alpaca-field {
        flex-basis: 75%;
        .components-select-control {
          width: 100%;
        }
      }
    }
  }
}
